<?xml version="1.0"?>
<launch>
  <!-- Start lidar! -->
  <include file = "$(find wr_ls_udp)/launch/wr_ls1207de_udp_with_1_lidar.launch" />

  <!-- Start lower camera! -->
  <node pkg = "undistortion" name = "camera_undistorted_tj_lower" type = "camera_undistorted_tj_lower.py" output = "screen" />

  <!-- Start YOLO detection! -->
  <node pkg = "deepstream_vision" name = "test_ros_nvinfer_pipeline_lower" type = "test_ros_nvinfer_pipeline" args = "/home/zhgz/tongji_sanitation_car/src/deepstream_vision/config/pgie_yolov3_tlt_low_config.txt" output = "screen" />
 
</launch>
